In [8]:
import os

In [9]:
os.getcwd()

'C:\\Users\\abusa\\ML_Learning'

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("hwdata.csv")

In [12]:
df.head(10)

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801
5  67.253016  152.212156
6  68.785081  183.927889
7  68.348516  167.971111
8  67.018950  175.929440
9  63.456494  156.399676

# Feature Transformation

MEAN MAX SCALER

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
m = MinMaxScaler() #create obj for min max scl.

In [15]:
h_fit = m.fit(df[['Height']])  #fit height colum

In [16]:
h_fit

MinMaxScaler()

In [17]:
h_fit = m.transform(df[['Height']])

In [19]:
h_fit

array([[0.73739928],
       [0.47921348],
       [0.75080977],
       ...,
       [0.74073967],
       [0.40857036],
       [0.6809184 ]])

In [20]:
df['h_fit' ] = h_fit

In [21]:
df.head()

      Height      Weight     h_fit
0  73.847017  241.893563  0.737399
1  68.781904  162.310473  0.479213
2  74.110105  212.740856  0.750810
3  71.730978  220.042470  0.629538
4  69.881796  206.349801  0.535279

In [34]:
w_fit = m.fit_transform(df[['Weight']])

In [35]:
w_fit #problem

array([[0.86241527],
       [0.47270268],
       [0.71965659],
       ...,
       [0.66916489],
       [0.38439737],
       [0.59469707]])

In [39]:
df.head()

      Height      Weight     h_fit
0  73.847017  241.893563  0.737399
1  68.781904  162.310473  0.479213
2  74.110105  212.740856  0.750810
3  71.730978  220.042470  0.629538
4  69.881796  206.349801  0.535279

In [42]:
df['w_fit'] = w_fit

In [43]:
df.head()

      Height      Weight     h_fit     w_fit
0  73.847017  241.893563  0.737399  0.862415
1  68.781904  162.310473  0.479213  0.472703
2  74.110105  212.740856  0.750810  0.719657
3  71.730978  220.042470  0.629538  0.755412
4  69.881796  206.349801  0.535279  0.688360

we want this rejult 3 to 7 instead 0 to 1

In [44]:
m1 = MinMaxScaler(feature_range = (3,4))

In [45]:
h_fit1 = m1.fit_transform(df[['Height']])

In [46]:
h_fit1

array([[3.73739928],
       [3.47921348],
       [3.75080977],
       ...,
       [3.74073967],
       [3.40857036],
       [3.6809184 ]])

In [47]:
df['h_fit1'] = h_fit1

In [48]:
df.head()

      Height      Weight     h_fit     w_fit    h_fit1
0  73.847017  241.893563  0.737399  0.862415  3.737399
1  68.781904  162.310473  0.479213  0.472703  3.479213
2  74.110105  212.740856  0.750810  0.719657  3.750810
3  71.730978  220.042470  0.629538  0.755412  3.629538
4  69.881796  206.349801  0.535279  0.688360  3.535279

# standardScaler

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
m2 = StandardScaler()

In [53]:
weight_std = m2.fit_transform(df[['Weight']])

In [57]:
weight_std

array([[ 2.76389481],
       [-1.23519742],
       [ 1.29895589],
       ...,
       [ 0.78082794],
       [-2.14135518],
       [ 0.01666563]])

In [59]:
height_std = m2.fit_transform(df[['Height']])

In [60]:
height_std

array([[ 1.68730259],
       [-0.08484674],
       [ 1.77935026],
       ...,
       [ 1.71023055],
       [-0.56973071],
       [ 1.29962618]])

In [61]:
df['height_std'] = height_std

In [62]:
df['weight_std'] = weight_std

In [63]:
df.head()

      Height      Weight     h_fit     w_fit    h_fit1  height_std  weight_std
0  73.847017  241.893563  0.737399  0.862415  3.737399    1.687303    2.763895
1  68.781904  162.310473  0.479213  0.472703  3.479213   -0.084847   -1.235197
2  74.110105  212.740856  0.750810  0.719657  3.750810    1.779350    1.298956
3  71.730978  220.042470  0.629538  0.755412  3.629538    0.946957    1.665866
4  69.881796  206.349801  0.535279  0.688360  3.535279    0.299976    0.977802

# Normalize

In [69]:
from sklearn.preprocessing import Normalizer

In [70]:
m3 = Normalizer()

In [71]:
height_nrml = m3.fit_transform(df[['Height']])

In [72]:
height_nrml

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [1.]])

In [73]:
weight_nrml = m3.fit_transform(df[['Weight']])

In [74]:
weight_nrml

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [1.]])

In [75]:
df['weight_nrml'] = weight_nrml

In [76]:
df['height_nrml'] = height_nrml

In [77]:
df.head()

,Height,Weight,h_fit,w_fit,h_fit1,height_std,weight_std,weight_nrml,height_nrml
0,73.847017,241.893563,0.737399,0.862415,3.737399,1.687303,2.763895,1.0,1.0
1,68.781904,162.310473,0.479213,0.472703,3.479213,-0.084847,-1.235197,1.0,1.0
2,74.110105,212.740856,0.750810,0.719657,3.750810,1.779350,1.298956,1.0,1.0
3,71.730978,220.042470,0.629538,0.755412,3.629538,0.946957,1.665866,1.0,1.0
4,69.881796,206.349801,0.535279,0.688360,3.535279,0.299976,0.977802,1.0,1.0

# RobustScaler

In [81]:
from sklearn.preprocessing import RobustScaler

In [82]:
m4 = RobustScaler()

In [83]:
height_rs = m4.fit_transform(df[['Height']])

In [84]:
height_rs

array([[ 1.269587  ],
       [-0.06933886],
       [ 1.3391325 ],
       ...,
       [ 1.28690994],
       [-0.43568704],
       [ 0.97668281]])

In [85]:
weight_rs = m4.fit_transform(df[['Weight']])

In [86]:
weight_rs

array([[ 2.062916  ],
       [-0.94473539],
       [ 0.96115958],
       ...,
       [ 0.57148408],
       [-1.62624172],
       [-0.00322981]])

In [87]:
df['weight_rs'] = weight_rs

In [88]:
df['height_rs'] = height_rs

In [89]:
df.head()

,Height,Weight,h_fit,w_fit,h_fit1,height_std,weight_std,weight_nrml,height_nrml,weight_rs,height_rs
0,73.847017,241.893563,0.737399,0.862415,3.737399,1.687303,2.763895,1.0,1.0,2.062916,1.269587
1,68.781904,162.310473,0.479213,0.472703,3.479213,-0.084847,-1.235197,1.0,1.0,-0.944735,-0.069339
2,74.110105,212.740856,0.750810,0.719657,3.750810,1.779350,1.298956,1.0,1.0,0.961160,1.339132
3,71.730978,220.042470,0.629538,0.755412,3.629538,0.946957,1.665866,1.0,1.0,1.237107,0.710228
4,69.881796,206.349801,0.535279,0.688360,3.535279,0.299976,0.977802,1.0,1.0,0.719625,0.221410